.background {
  background-color: #1d2d3c;
}

header {
  background-color: #06131f;
  height: 5rem;
}

header .logo {
  height: 4.8rem;
  padding: 1rem 0;
}

.card {
  color: white;
  background-color: #112030;
  cursor: pointer;
}

.no-modal:hover {
  transform: scale(1.05);
}

.card .img-container {
  width: 100%;
  padding: 3.5rem 3.5rem 1.5rem;
}

.img-container img {
  width: 100%;
  border: 5px solid white;
  aspect-ratio: 1 / 1;
}

.card .text-container {
  text-align: center;
}

.modal-dialog {
  opacity: 0.9;
}

.img_modal {
  opacity: 1;
}

.my_header {
  background-color: #112030;
}

.modal-body {
  background-color: #112030;
}

.modal-body .card {
  color: white;
  background-color: #112030;
  width: 30rem;
}
