.background {
  background-color: #1d2d3c;
}

header {
  background-color: #06131f;
  height: 5rem;
}

header img {
  height: 3rem;
}

.card {
  color: white;
  background-color: #112030;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.1);
}

.card .img-container {
  width: 100%;
  padding: 3.5rem 3.5rem 1.5rem;
}

.img-container img {
  width: 100%;
  border: 5px solid white;
  aspect-ratio: 1 / 1;
}

.card .text-container {
  text-align: center;
}
